h1 {
    font-size:48px;
    font-family: fantasy;
    text-align: center;
} 

::placeholder {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

li {
    display: flex;
    justify-content: space-between;
    font-family: fantasy;
    font-size: 24px;
}

.todoStrike {
    display: flex;
    justify-content: space-between;
    text-decoration: line-through;
    text-decoration-color: red;
    font-family: fantasy;
    font-size: 24px;
}

.delete-button {
    margin-left: 10px;
    background-color: transparent;
    border: 0;
    font-size: 24px;
    font-weight: bold;
}

.check-box {
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
    vertical-align: middle;
}

#add-button {
    background-color: transparent;
    border: 0;
    font-size: 24px;
    font-family: fantasy;
    vertical-align: middle;
    color: rgb(25, 118, 252);
}

#todo-input {
    font-family: fantasy;
    font-size: 24px;
    width: 100%;
    vertical-align: middle;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: black;
    border-bottom-width: 1px;
}

#todo-input:focus {
    outline: none;
}
#todo-form {
    display: flex;
}

#todo-list {
    padding: 2px;
}